<div class="modal fade" id="bulkUnitModal" tabindex="-1" data-resource-type="{{ resource.resource_type }}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="post" action="{% url 'learning:unit_bulk_create' resource.pk %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title"><i class="fas fa-list me-2"></i>Add Multiple Units</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <table class="table bulk-table" id="units-table">
            <thead>
              <tr>
                <th>Title</th>
                {% if resource.resource_type != "book" %}
                <th style="width: 160px;">Duration (mins)</th>
                {% endif %}
                <th style="width: 48px;"></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <button type="button" class="btn btn-outline-secondary btn-sm"
            onclick="addRow('', '', '{{ resource.resource_type }}')">
            <i class="fas fa-plus me-1"></i> Add Row
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" onclick="handleSubmit(this)">
            <span class="btn-text">Create Units</span>
            <span class="spinner-border spinner-border-sm d-none"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>